h1 {
  color: #0a2c44;
  font-size: 2.5rem;
}

h2 {
  color: rgba(16, 24, 29, 0.5);
  font-size: 2rem;
}

.container {
  background-color: white;
  margin: 0 auto;
  width: 70vw;
  padding: 20px;
}

.job-title {
  font-style: italic;
  color: rgba(43, 45, 47, 0.5);
}

body {
  padding: 30px;
  background-color: #f4f4f4;
  font-family: sans-serif;
}

header {
  background-color: rgba(52, 152, 219, 0.5);
  text-align: center;
  padding: 20px;
}

.menu {
  background-color: #0a2c44;
  padding-top: 0;
  padding: 20px;
}

.menu li {
  display: inline-block;
  width: calc(25% - 4px);
  margin: 0;
  text-align: center;
  height: 40%;
  padding-top: 20px;
  border: 0;
}

.menu {
  background-color: #0a2c44;
  padding-top: 0;
}

@media (max-width: 678px) {
  .menu li {
    display: block;
    width: 100%;
  }
}

.menu a {
  color: #ecf0f1;
}

.menu a:hover {
  color: #3498db;
}

p {
  color: #333;
}

.foto {
  height: 150px;
  width: 150px;
  background-image: url("images/john_doe.jpg");
  background-size: cover;
  border-radius: 50%;
  margin: auto;
}

.p {
  text-align: justify;
}

header {
  text-align: center;
}

th {
  border: 1px solid #ddd;
  background-color: #ecf0f1;
  padding: 15px;
}

td {
  border: 1px solid #ddd;
  padding: 15px;
}

.even {
  background-color: #f9f9f9;
}

table {
  width: 100%;
}

.first-column {
  width: 40%;
}

section {
  line-height: 1.6;
}

footer a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}
